.success-container::before{
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(17, 17, 17, 0.6);
}
.success-container{
    background-image: url(../../../images/stories.jpg);
    position: relative;
    text-align: center;
    padding: 80px 0px 180px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
#benifits{
    z-index:1;
}
#benifits::after{
    position: absolute;
    top:205px;
    content: '';
    left: 50%;
    bottom: 0px;
    width: 62px;
    height: 2px;
    margin-left: -30px;
    background-color: rgb(240, 101, 152);
}
#stories{
    transform:translate(0px,-80px);
}
#fact-counter{
    width:25%;
    height:2px;
}
.counter-title{
    font-size:20px;
    font-style :italic;
    color: rgb(56, 53, 53);
}

@media screen and (max-width:688px){
    #stories-1{
        padding: 30px 19px !important;
    }
    #stories-2{
        padding: 30px 20px !important;
    }
    #stories-img-1{
        width: 50%;
    }
    #stories-img-2{
        width: 50%;
    }
}