@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
body{
  font-family: 'Nunito Sans', sans-serif;
}

/* Sign up Form Container Left Part*/
.form-container{
  padding:92.5px 0px;
}
/* Sign Up Button */
.signup-button:hover{
background-color: #c2064e!important;
}
/* Sign In Button */
.signin-button:hover{
    background-color: #80807d !important;
    color: white !important;
}

/* Right Part */
.welcome-img{
  background-color: #464031;
  background-blend-mode: overlay;
  background-image: url('https://i.ibb.co/Bs5W8BQ/signup-login.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 950px;
  }

@media screen and (max-width:688px){
  /* Form Heading */
  .signup-heading{
    font-size:34px !important;
  }
  /* SignUp Form */
  .signup-form{
   width: 90% !important;
  }
  .welcome-img{
    height: 550px;
  }
}
@media only screen and (min-width:689px) and (max-width: 991px){
  .welcome-img{
    height: 800px;
  }
}
